h1.title{
    padding-left: 80px;
}
h1.title::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #51a2ff;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.service-box:hover{
    box-shadow: 0 0 25px #51a2ff;
}
@media screen and (max-width:768px) {
    .about-img{
        grid-area: 1/1;
    }
}