aside ul li a::after{
    width: 0;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: white;
    transition: all .4s ease;
    content: "";
    position: absolute;

}
aside ul li a.active::after , aside ul li a:hover::after{
    width: 100%;
}
aside ul li a.active{
    color: #155dfc;
}
